.card{
    width: 300px;
    border: 2px solid #cae456;
}


.link-img{
    width: 300px;
    border: 2px solid #cae456
}

.btn{
    text-align: right;
}

.photo{
   width:30%;
}
.shown{
    display: flex;
    justify-content: center;
}